.vs
.vscode

# Csharp files
bin
obj
*.suo
*.user
*appsettings.*.json

# Test files
*.opencover.xml

# Terraform files
*.tfvars
*.tfplan
*.tfstate
.terraform/.terraform/*
*.hcl

#LiteDB files
*.db

#publish profiles
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj