<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>louis-axel.ambroise@eocenegroup.com</AccountUsername>
    <AzureServiceName>goto-api</AzureServiceName>
    <AzureServiceResourceGroup>RG_LA</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/8463aa1a-4229-44ef-9ac0-cdd153a67ed3/resourceGroups/RG_LA/providers/Microsoft.Web/sites/goto-api</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>8463aa1a-4229-44ef-9ac0-cdd153a67ed3</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Eocene</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/8463aa1a-4229-44ef-9ac0-cdd153a67ed3/resourceGroups/RG_LA/providers/Microsoft.Web/sites/goto-api (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>258d207d-a100-ea21-ce7b-6b82efa14df8</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>src\Gs1DigitalLink.Api</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>bfe089ee-d6e6-4d57-bc3a-610f5d35a557</TenantId>
  </PropertyGroup>
</Project>